@import '~antd/dist/antd.css';
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}


.ProductList {
  margin-top: 2em;
  width: 100%;
  padding-bottom: 2em;
  font-size: large;
  padding-left: 2em;
  display: inline-block;
}

ul.address-top-menu {
  list-style: none;
  float: right;
  padding-right: 20px;
  vertical-align: top;
  margin-top: 10px;
}

ul.address-top-menu li {
  display: inline-block;
}

body .bg-dark {
  background-color: #61dafb;
}

.column {
  margin-top: 120px;
  margin-bottom: 40px;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  margin-bottom: 0px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 5px 12px;
  flex-direction: column;
}

.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: lightgray;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 2px 0;
  justify-content: space-between;
}

.checkoutdiv {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
}

.check {
  margin-bottom: 2rem;
}

.heart {
  color: deeppink;
  font-size: 28px;
  vertical-align: top;
  display: inline;
  padding: 0px;
  cursor: pointer;
}

.wish-list span {
  background: none;
  color: rgb(255, 255, 255);
  margin-left: 0em;
  margin-top: 0.5em;
}

.row {
  margin-top: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: 0%;
  padding: auto;
}

.Row-style {
  margin: .5rem;
  display: inline-block;
  flex-wrap: 'wrap';
  flex-direction: row;
  text-align: center;
}